<div class="container">
  <% @offers.each_slice(2) do |offer| %>
    <div class="row">
      <% offer.each do |off| %>
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
          <div class="card">
            <%= link_to (image_tag off.product.main_image.variant(resize_to_limit: [1200, 1200]), class: "card-img-top"), off %>
            <div class="card-body">
              <h5 class="card-tite"><%= link_to off.product.name, off %></h5>
              <p class="card-text"><strong>Buyers Required:</strong> <%= off.buyers_required %></p>
              <p class="card-text"><strong>Amount for each:</strong> <%= off.amount_per_buyer %></p>
              <p class="card-text"><strong>Expiration:</strong> <%= off.expiration %></p>
              <%= link_to 'Edit', '#', class: "btn btn-link" %>
              <%= link_to 'Delete', product_offer_path(off.product, off), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-link" %>
            </div>
          </div></br>
        </div>
      <% end %>
    </div>
  <% end %>
</div></br>