<h2>Offers</h2>


<div class="container">
  <% @offers.each_slice(2) do |offer| %>
    <div class="row">
      <% offer.each do |off| %>
        <div class="col">
          <div class="card">
            <%= image_tag 'download.png', class: "card-img-top" %>
            <div class="card-body">
              <h5 class="card-tite"><%= link_to off.product.name, off.product %></h5>
              <p class="card-text"><strong>Buyers Required:</strong> <%= off.buyers_required %></p>
              <p class="card-text"><strong>Amount for each:</strong> <%= off.amount_per_buyer %></p>
              <p class="card-text"><strong>Expiration:</strong> <%= off.expiration %></p>
              <%= link_to 'Edit', '#', class: "btn btn-link" %>
              <%= link_to 'Delete', '#', method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-link" %>
            </div>
          </div></br>
        </div>
      <% end %>
    </div>
  <% end %>
</div></br>