<div class="container">

  <div class="row">

    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
      <div class="card">
        <%= image_tag 'download.png', class: "card-img-top" %>
        <div class="card-body">
          <h5 class="card-tite"><%= link_to @product.name, @product %></h5>
          <p class="card-text"><%= @product.description %></p>
          <p><%= number_to_currency(@product.price) %></p>
          <%= link_to 'Offer It', new_product_offer_path(@product),  class: "btn btn-primary" %>
          <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-link" %>
          <%= link_to 'Delete', @product, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-link" %>
        </div>
      </div>

    </div>

  </div>

</div>
