<!DOCTYPE html>
<html>
  <head>
    <title>Weem</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <%= render 'layouts/nav' %>
  <% if notice %>
    <div class='alert alert-success'>
      <%= notice %>
    </div>
  <% end %>
  <body>
    <%= yield %>
  </body>
</html>
